a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.active {
  color: yellow;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

.btn-primary {
  background-color: rgb(0, 163, 14);
  outline: none;
  box-shadow: none;
  border: 0;
}

.btn-primary:disabled {
  background-color: rgb(0, 124, 10);
}

.btn-primary :hover {
  background-color: rgb(63, 4, 119);
}

.cards {
  display: flex;
  justify-content: space-around;
}

.circle {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  pointer-events: none;
}

.container {
  width: 100vw;
  height: 100%;
}

.dropdown-menu {
  margin-top: -25px;
  width: fit-content;
}

.dropdown-menu:focus,
nav a:focus,
#navbarNav input:focus {
  outline: 2px solid black;
}

footer {
  align-items: center;
  margin-top: 10px;
  padding-top: 1px;
  width: 100vw;
}

footer a {
  color: black;
  font-size: 30px;
  padding-left: 1%;
}

footer a :hover {
  color: blue;
}

header {
  width: 100%;
  height: 5%;
  padding: 20px;
}

.img-large {
  max-width: 80%;
}

.img_thumbnail {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

input:invalid {
  border: 2px solid red;
}

main {
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

nav .navbarlink:hover,
nav .nav-link:hover {
  color: yellow;
}

nav .nav-bar:hover,
nav .nav-link:hover {
  text-decoration: dashed;
}

#navbarDropdown {
  width: fit-content;
  border: 0;
  height: fit-content;
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
}

.product {
  border: 1px solid black;
  margin: 1rem;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.productButton {
  font-weight: 700;
}

.product img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.rating span {
  color: rgb(255, 123, 0);
}

.required::after {
  content: "*";
  color: red;
}

.site-container {
  min-height: 100%;
}

.skip-link {
  position: absolute;
  background-color: red;
  top: -40px;
  left: 0;
  z-index: 999;
  opacity: 0;
}

.skip-link:focus {
  opacity: 1;
  top: 0;
}

.themebutton {
  width: fit-content;
  height: fit-content;
  outline: none;
  box-shadow: none;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.thumbnail {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.background.Dark {
  color: white;
  background-color: black;
}

.background.Light {
  color: black;
  background-color: white;
}
