.active {
  color: yellow;
}

body,
html {
  height: 100%;
  margin: 0%;
  overflow-x: hidden;
  width: 100%;
}

.btn-primary {
  background-color: rgb(0, 163, 14);
}

.btn-primary:disabled {
  background-color: rgb(0, 124, 10);
}

.btn-primary :hover {
  background-color: rgb(63, 4, 119);
}

.container {
  width: 100vw;
  height: 100%;
}

footer {
  align-items: center;
  margin-top: 10px;
  padding-top: 1px;
  width: 100vw;
}

footer a {
  color: black;
  font-size: 30px;
  padding-left: 1%;
}

footer a :hover {
  color: blue;
}

header {
  width: 100%;
  height: 5%;
  padding: 20px;
}

.img-large {
  max-width: 100%;
}

.img_thumbnail {
  height: 80px;
}

main {
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

.product {
  border: 1px solid black;
  margin: 1rem;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.productButton {
  font-weight: 700;
}

.product img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.rating span {
  color: rgb(255, 123, 0);
}

.site-container {
  min-height: 100%;
}

.themebutton {
  width: fit-content;
}

.background.dark {
  color: white;
  background-color: black;
}

.background.light {
  color: black;
  background-color: white;
}
